.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: text;
  margin: 0 2.4rem;
}

.textTitle {
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1.3em;
  color: var(--white);
}

.textDescription {
  font-family: "Spartan", sans-serif;
  font-size: 1.1rem;
  line-height: 2em;
  color: var(--white);
  text-align: center;
  margin-top: 1.6rem;
}

.textSource,
.source {
  font-family: "Spartan", sans-serif;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: var(--light-gray);
}

.textSource {
  display: flex;
  margin-top: 3.2rem;
}

.source {
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.sourceImg {
  margin-left: 5px;
}

@media (min-width: 700px) {
  .text {
    align-items: flex-start;
    margin: 0 0;
  }

  .textTitle {
    font-size: 4.8rem;
  }

  .textDescription {
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .text {
    width: 35rem;
    max-width: 64%;
    justify-self: center;
  }

  .textTitle {
    font-size: 8rem;
    font-weight: 400;
  }

  .textDescription {
    font-size: 1.4rem;
  }

  .textSource,
  .source {
    font-size: 1.4rem;
  }
}

@media (min-width: 1900px) {
  .textTitle {
    font-size: 10rem;
  }
  .textDescription {
    font-size: 1.5rem;
  }
}