@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #ffffff;
  --bg-dark: #070724;
  --light-gray: #838391;
  --dark-gray: #38384f;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-dark);
  background-image: url("./assets/background-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
