@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Antonio', sans-serif;
  font-family: 'Spartan', sans-serif;
}

:root {
  --white: #ffffff;
  --bg-dark: #070724;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-dark);
  background-image: url('./assets/background-stars.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  max-width: 95%;
}

.header__title {
  font-family: 'Antonio', sans-serif;
  color: var(--white);
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -1px;
  text-transform: uppercase;
}
