@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #ffffff;
  --bg-dark: #070724;
  --light-gray: #838391;
  --dark-gray: #38384F;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-dark);
  background-image: url('./assets/background-stars.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--dark-gray);
  padding: 1.6rem 0;
}

.header__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: 'Antonio', sans-serif;
  color: var(--white);
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-left: 2.4rem;
}

.header__burger {
  margin-right: 2.4rem;
  cursor: pointer;
}

.nav {
  height: 100vh;
  position: absolute;
  background-color: var(--bg-dark);
  width: 100%;
  margin-top: 3rem;
}

.nav__links {
  display: flex;
  flex-direction: column;
}

.nav__li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin: 0 2.4rem;
  border-bottom: 1px solid var(--dark-gray);
}

.nav__li:last-child {
  border-bottom: none;
}

.nav__link {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 1.3px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-areas: 
    "info-tabs"
    "image"
    "text"
    "data"
}

.info-tabs {
  grid-area: info-tabs;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--dark-gray);
}

.info-button {
  background: none;
  border: none;
  font-family: 'Spartan', sans-serif;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: .1rem;
  color: var(--light-gray);
  padding: 2rem 0;
  cursor: pointer;
  text-transform: uppercase;
}

.img-wrapper {
  grid-area: image;
  max-width: 100%;
  min-height: 30rem;
  display: grid;
  place-items: center;
}

.img {
  max-width: 30%;
}

.text,
.data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  grid-area: text;
  margin: 0 2.4rem;
}

.text__title {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 5rem;
  color: var(--white);
}

.text__description {
  font-family: 'Spartan', sans-serif;
  font-size: 1.1rem;
  line-height: 2.2rem;
  color: var(--white);
  text-align: center;
  margin-top: 1.6rem;
}

.text__source,
.source {
  font-family: 'Spartan', sans-serif;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: var(--light-gray);
}

.text__source {
  display: flex;
  margin-top: 3.2rem;
}

.source {
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.source__img {
  margin-left: 5px;
}

.data {
  grid-area: data;
  margin: 0 2.4rem;
  margin-top: 2.8rem;
}

.data__item {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--dark-gray);
  padding: 1.3rem 2.4rem;
  margin: .8rem 0;
}

.data__title {
  font-family: 'Spartan', sans-serif;
  color: var(--light-gray);
  font-size: .8rem;
  line-height: 2em;
  letter-spacing: .7px;
  text-transform: uppercase;
}

.data__stat {
  font-family: 'Antonio', sans-serif;
  color: var(--white);
  font-size: 2rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  letter-spacing: -.75px;
}

@media (min-width: 700px) {
  .header__burger {
    display: none;
  }

  .header__title-box {
    justify-content: center;
  }

  .info-tabs {
    flex-direction: column;
    border: none;
  }

  .info-button {
    border: 1px solid var(--dark-gray);
    min-width: 90%;
  }

  .nav {
    position: static;
    height: auto;
  }

  .nav__arrow {
    display: none;
  }

  .nav__li {
    border: none;
    margin: 0 1.7rem;
  }

  .nav__links {
    flex-direction: row;
    justify-content: space-around;
  }

  .nav__link {
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--white);
  }

  .grid {
    margin: 0 3.9rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "image image"
      "text info-tabs"
      "data data"
  }

  .text {
    align-items: flex-start;
    margin: 0 0;
  }

  .text__description {
    text-align: left;
  }

  .data {
    flex-direction: row;
    justify-content: space-around;
  }

  .data__item {
    flex-direction: column;
    min-width: auto;
  }
}